/* Breakpoint	Dimensions
X-Small	        <576px
Small	        ≥576px
Medium	        ≥768px
Large	        ≥992px
*/

/* X-Small Screen Styles */
@media screen and (max-width: 576px) {
    .container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .primary-btn {
        padding: 14px 20px;
        border-radius: 8px;
        font-size: 1rem;
    }

    .header-content {
        flex-direction: column;
    }

    .main-menu li {
        margin-left: 10px;
    }

    .hero-desc {
        padding: 10px 20px;
    }

    .qf-content {
        flex-direction: column-reverse;
        padding: 50px 10px;
    }

    .qf-left {
        padding: 30px 0 0 0;
    }

    .fe-content {
        flex-direction: column;
    }

    .fe-title {
        margin-top: 0;
    }

    .fe-img {
        margin-left: 60px;
    }

    .fe-left,
    .fe-right {
        padding: 0;
    }

    .fe-text-box {
        bottom: 100px;
        right: 0;
    }

    .sf-icon-wrapper {
        justify-content: space-around;
    }
}

/* Small Screen Styles */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .main-menu li {
        margin-left: 10px;
    }

    .hero-desc {
        padding: 10px 20px;
    }

    .qf-content {
        padding: 20px;
    }

    .fe-content {
        flex-direction: column;
    }

    .fe-title {
        margin-top: 0;
    }

    .fe-img {
        margin-left: 60px;
    }

    .fe-left,
    .fe-right {
        padding: 0;
    }

    .fe-text-box {
        bottom: 100px;
        right: 0;
    }

    .sf-icon-wrapper {
        justify-content: space-around;
    }
}

/* Medium Screen Styles */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* Large Screen Styles */
@media screen and (min-width: 992px) {}