/* some information =======
font-family: Work Sans
Primary color:  #FF900E;
Background-color: rgba(255, 144, 14, 0.10);
*/

/* Global Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Common use styles */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.primary-btn {
  padding: 18px 22px;
  border-radius: 8px;
  color: #fff;
  background-color: #FF900E;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.deft-text {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.62rem;
}

/* Header Design */

#header {
  background-color: rgba(255, 144, 14, 0.10);
  position: sticky;
  top:0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-family: "Work Sans", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 8px 10px;
}

.logo-text a {
  color: #131313;
}

.main-menu {
  display: flex;
  flex-direction: row;
}

.main-menu li {
  margin-left: 40px;
}

.main-menu a {
  display: inline-block;
  padding: 8px 10px;
  font-size: 1.12rem;
  font-weight: 500;
  line-height: normal;
  color: #424242;
  /* background-color: tomato; */
}

/* Hero Section Styles */
#heroSection {
  background-color: rgba(255, 144, 14, 0.10);
  padding: 35px 0;
}

.hero-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

.hero-desc{
  padding: 10px 120px;
}